* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 34px;
  background-color: transparent;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: rgb(255, 95, 95);
  color: white;
  font-size: 34px;
}

.main {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 300px);
  overflow-y: auto;
}